body {
    background-color: #f1f7fa;
}

h1 {
    color: #00b2b2;
    font-family: 'Molle', cursive;
    font-style: italic;
    font-weight: 400;
    font-size: 72px;
    line-height: 90px;
    text-align: center;
    margin-bottom: 16px;
}

input {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0.025em;
    /* color: #e6e6e6; */
    background-color: #fafafa;
    border: 1px solid #00b2b2;
    border-radius: 10px;
    width: 318px;
    height: 57px;
    padding-left: 18px;
}

::placeholder {
    color: #e6e6e6;
    opacity: 1;
}

.error {
    color: #ff6b89;
    font-family: 'Roboto';
    margin-top: 9px;
    margin-bottom: 0px;
}

#submit {
    float: right;
}

button{
    font-family: 'Baloo 2';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0.025em;
    width: 125px;
    height: 59px;
    border-radius: 10px;
}

button:hover {
    cursor: pointer;
}

.goback {
    background: none;
    border-style: hidden;
    color: #000;
    opacity: 60%;

}

.goback:hover {
    opacity: 100%;
}

.submitbtn {
    background-color: #00b2b2;
    color: white;
    align-items: center;
    text-align: center;
    border-style: hidden;
}

.submitbtn:hover {
    background-color: #029a9a
}
.submitbtn:active {
    background-color: #029a9a;
    transform: scale(0.97);
}

.grid-item {
    display: inline-block;
    padding-top: 10%;
    padding-left: 5%;
}





/* /h1 {
    font-family: 'Molle';
    font-style: italic;
    font-weight: 400;
    font-size: 72px;
    line-height: 0px;
    color: #00B2B2;
} */

#partopia {
    font-family: 'Baloo 2';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%; 
    /* or 24px */
    display: flex;
    align-items: center;
    letter-spacing: 0.025em;
    margin-top: 5px;
    margin-bottom: 40px;
    color: #FFB732; 
}

/* body {
    position: absolute;
    width: 1440px;
    height: 1024px;

    background: #F1F7FA;
} */

.page-container {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
}

.left-container {
    display: flex;
    flex-direction: column;
    padding-top: 10%;
    /* padding-left: 10%; */
    padding-right: 5%;
}

/* button {
    display: flex;
    float: right;
    width: 125px;
    height: 59px;
    justify-content: center;

    background: #00B2B2;
    border: 0;
    box-shadow: none;
    border-radius: 10px;

    font-family: 'Baloo 2';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    align-items: center;
    letter-spacing: 0.025em;
    color: #FFFF;
} */
/* button:hover {
    cursor: pointer;
    background-color: #029a9a}

button:active {
  background-color: #029a9a;
  transform: scale(0.97);
} */
img {
    position: center;
    width: 562px;
    height: 844px;
    /* padding-left: 60px; */
}

.buttonContainer {
    float: right;
}
